
main {
    margin-bottom: 25px;
}




button {
    border: none;
}

.btn {
    padding: 1em;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
}


.btn:hover, .btn:active {
    background-color: #4d38f5;
    animation: 0.5 ease-in;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em 2.5em;
}

.row, .row-item {
    width: 100% !important;
}



.row-item {
    padding: 0.8em 0;
}

.row-col {
   display: flex;
   justify-content: space-between;
   padding: 1em 1.4em;
   border-radius: 10px;
}

@media (min-width: 768px) {
    
    main {
        display: flex;
        width: 759px;
        height: 515px;
        border-radius: 25px;
        background-color: #fff;
        box-shadow: 5px 1px 10px 0px rgba(0,0,0,0.31);
        margin: 3.5em auto;
    }   
}


@media (min-width: 1440px) {
    main {
        margin: 10em auto;
    }  

    main{
        transform: scale(1.1);
    }
}